body {
	font-family:'Georgia', sans-serif;
	color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

strong {
	font-weight:600;
}

u {
	text-decoration: none;
	border-bottom:solid;
}

.fa {
	color:$silver;
	text-shadow:2px 1px 5px black;
}

hr {
	background-color:black;
	margin:350px 0 10px 0;

	@mixin atMedium {
		margin:450px 0 10px 0;
	}
}
