.aboutMe {
	position: relative;
	
	&__bgImage {	
		display:block;	
	}

	&__text-content {
		text-align:center;
		position:absolute;
		width: 100%;
		top:50%;
		transform:translateY(-50%);
		left: 0;
	}

	&__title {
		color:#FFF;
		font-size:1rem;
		font-weight: 300;
		text-shadow: 2px 1px 2px black;

		@mixin atSmall {
			font-size:1.8rem;
		}

		@mixin atMedium {
			font-size:3.2rem;
		}
	}

	&__subtitle {
		font-size:.6rem;
		width:35%;
		margin-left:auto;
		margin-right:auto;
		color:#FFF;
		font-weight: 300;
		text-shadow: 2px 1px 2px black;

		@mixin atSmall {
			width:100%;
			font-size:1rem;
		}

		@mixin atMedium {
			font-size: 1.5rem;
			width: 25%;
		}
	}
}