.aspirations {
	background-color:#FFF;
	@mixin atMedium {
		background: url('/assets/images/coffee.jpg') top center no-repeat;
		background-size:cover;
	}

	&__title {
		text-align:center;
		font-size:3rem;
		font-weight:300;

		@mixin atMedium {
			color:#FFF;

		}
	}

	&__headline {
		text-align: center;
		font-weight:300;
		font-size:4rem;
		padding-top:20px;
		text-shadow:2px 2px 2px gray;

		@mixin atMedium {
			color:#FFF;
			font-size:2.5rem;
		}
		
	}

	&__text-content {

			p {
			line-height: 2;
			font-size:2.8rem;
			text-align:center justify;
			padding:0 2% 2% 2%;
			width:100%;
			font-weight:300;


			@mixin atMedium {
				color:#FFF;
				font-size:1.4rem;
			}
		}
	}

	&__jacob-image {
		width:100%;
		box-shadow:2px 2px 5px black;

		@mixin atMedium {
			width:80%;
		}
	}
}