.experience {
	position:relative;
	margin:0;

	&__laptop-image {
		width:100%;
		height:auto;
		box-shadow:2px 2px 7px black;
		margin:0 auto 0 0;

		@mixin atMedium {
			max-width:90%;
		}
	}

	&__text-content {
		p {
			font-size:2.4rem;
			text-align:center justify;
			font-weight:300;
			line-height:2.0;
			width:85%;
			margin:0 auto 60px auto;
		}

		@mixin atMedium {
			p{
				font-size:.9rem;
				margin-bottom:0;
				letter-spacing:-.25px;
				line-height:2.7;
				text-indent:30px;			}
		}


	}
}