.future {
	background-color:#999;
	display:block;
	margin:0;

	@mixin atMedium{
		background-image:url("../../assets/images/mac-desk.jpg");
		background-size: cover;
		background-repeat:none;
		border:solid 20px $purple;
	}

	&__content-container {
		text-align:center;
		width:100%;
		position:relative;
		padding:30px 0;
	}

	&__language-title {
		color:#FFF;
		font-weight:300;
		text-align:center;
		font-size:3rem;
		background-color:$purple;
		max-width:55%;
		padding:20px 20px;
		position:absolute;
		top:0;
		left:50%;
		transform:translateX(-50%) translateY(-25%);
		border:4px solid rgba(#FFF, .9);
		box-shadow:0 2px 7px black;
		


		@mixin atMedium {
			font-size:2rem;
		}
	}

	&__language-list {
		list-style-type:none;
		text-align:center;
		color:#FFF;
		line-height: 2;
		font-size:2rem;
		height:auto;
		width:100%;
		padding:60px 0 30px 0;
		margin-right:auto;
		margin-left:auto;
		background-color:rgba($purple, .8);
		border:solid 4px rgba(#FFF, .9);

		@mixin atMedium {
			font-size:1rem;
			max-width:90%;
			height:370px;
		}
	}

	&__title {
		font-size:4.0rem;
		margin-top:50px;
		margin-bottom:0;
		text-align:center;
		font-weight:300;
		color:#FFF;
		

		@mixin atMedium {
			margin:40px 0 0 0;
			font-size:1rem;
			font-size:2.5rem;
		}
	}

	&__subtitle {
		color:#FFF;
		text-align:center;
		margin:0 0 30px 0;
		font-size:1.5rem;
		font-weight:300;

		@mixin atMedium {
			margin:0 0 50px 0;
			font-size:1rem;
		}
	}
}