.future {
	background-color:$silver;
	display:block;
	margin:0;

	&__content-container {
		text-align:center;
		overflow:hidden;
		width:100%;
	}

	&__language-title {
		color:$purple;
		text-shadow:2px 2px 2px gray;
		font-weight:300;
		text-align:center justify;
		margin-left:auto;
		margin-right:auto;
		font-size:3rem;

		@mixin atMedium {
			font-size:2rem;
		}
	}

	&__language-list {
		list-style-type:none;
		text-align:center;
		color:#FFF;
		line-height: 2;
		font-size:2rem;
		height:auto;
		width:100%;
		padding:20px 0px 20px 0;
		margin-right:auto;
		margin-left:auto;
		background-color:rgba($purple, .3);
		border-radius:15px;

		@mixin atMedium {
			font-size:1rem;
			max-width:90%;
		}
	}

	&__title {
		font-size:4.0rem;
		margin-top:50px;
		margin-bottom:0;
		text-align:center;
		font-weight:300;
		color:$purple;
		text-shadow:2px 2px 2px gray;

		@mixin atMedium {
			margin:40px 0 0 0;
			font-size:1rem;
			font-size:2.5rem;
		}
	}

	&__subtitle {
		color:#FFF;
		text-align:center;
		margin:0 0 30px 0;
		font-size:1.5rem;
		font-weight:300;

		@mixin atMedium {
			margin:0 0 50px 0;
			font-size:1rem;
		}
	}
}