.primary-nav {

	height:30px;

	&--pull-right {
		@mixin atMedium{
			float:right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
		top:50%;
		transform:translateY(100%);
	}

	li {
		list-style:none;
		margin-right:20px;
		cursor:pointer;
		display:inline-block;
		margin-top:30px;
		background-color:rgba($purple, .7);
		padding:10px 0;
		

		@mixin atMedium {
			float:left;
			display:block;
			margin-top:0;
			margin-right:20px;
			background-color:transparent;
			padding:0;
		}
	}

	a {
		color:#FFF;
		text-decoration:none;
		display:block;
		font-size:2rem;
		padding:10px 20px;

		@mixin atMedium {
			font-size:1rem;
			padding:0;
		}
	}
}